# Ignore virtual environment
venv/
.env

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log and database files
*.log
*.sqlite3
*.db

# Ignore VS Code and IDE-specific files
.vscode/
.idea/

/chroma_db
/data
